body {
    margin: 0;
    padding: 0;
    font: 400 14pt Roboto,sans-serif;
    text-rendering: optimizeLegibility;
    opacity: 1;
    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -ms-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}

body.loading {
    opacity: 0;
}

.width {
    margin: 0 auto;
	padding-left:5%;
	padding-right:5%;
	max-width:100%;
}

.btn {
    display: inline-block;
    padding: 12px 16px;
    background: #456;
    color: #FFF;
    text-transform: uppercase;
    font-size: 11pt;
    letter-spacing: 2px;
    cursor: pointer;
    border: 3px solid #456;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background 150ms;
    -moz-transition: background 150ms;
    -ms-transition: background 150ms;
    -o-transition: background 150ms;
    transition: background 150ms;
    user-select: none;
}

.btn:hover {
    background: #345;
    text-decoration: none;
}

.btn:active {
    background: #567;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

header {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #b4cf38;
    background-size: cover;
    color: #FFF;
}

header div {
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
    position: relative;
    top: 150px;
}

header #logo.grid-container {
	padding-bottom:100px;
} 

header h1 {
	text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
    padding: 25px 0 0;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

header #cart.grid-container {
	position: relative;
}
	header #cart img {
		/*position: fixed;*/
	}

header h1 span {
    font-weight: 200;
}

header nav {
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
    padding: 10px 0;
}

header nav a {
    color: #FFF;
    padding: 8px 12px;
    border: 2px solid #FFF;
    border-radius: 2px;
    font-size: .75em;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 15px;
}

header h2 {
    max-width: 1000px;
    width: 90%;
    padding: 190px 0 0;
    margin: 0 auto;
    font-weight: 200;
    font-size: 2em;
}

header h3 {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    font-weight: 200;
    font-size: 1.2em;
}

section {
    padding: 75px 0 125px;
}

section h1 {
    color: #7F7F7F;
    margin: .83em 0;
    font-size: 2em;
}

#intro {
    margin: 0 auto;
	padding-bottom: 0;
    width: 100%;
	background: #b4cf38;
}
	#intro #logo h1 {
		font-size:3.2em;
		color:white;
	}
	#intro #logo {
		color:gray;
		text-align:center;
		margin-bottom:160px;
		margin-top:120px;
	}
	#intro #cart img {
		text-align:center;
	}

#about {
    	margin: 0 auto;
	padding-bottom: 100px;
	background: #3f3f3f;
	color: white;
	text-align: center;
}
	#about article {
		display: block;
	}
	#about article p {
		color: #E5E5E5;
		max-width: 1000px;
		margin: 0 auto;
	}

#how h2 {
	color: #b4cf38;
}
#how h2, #how i {
	text-align: right;
}
#pay {
    margin-top: 200px;
    font-weight: 200;
	background: #b4cf38;
	color: white;
	margin: 0 auto;
}

footer {
    padding: 100px 0;
    background: #3f3f3f;
	color: white;
    font-weight: 200;
	text-align: center;
}
	footer h1 {
		color:#7F7F7F;
	}
	footer .register  {
		padding-bottom: 1.3em;
		padding-top: 4em;
	}
	footer .register .input-register {
		padding-bottom:40px;
	}
	footer .register  .button-register {
		color: #FFF;
		background-color: #8EB71C;
		padding: 10px 20px;
		border: 2px solid #8EB71C;
		border-radius: 10px;
		font-size: 1.3em;
		font-weight: 500;
		display: inline-block;
		margin-right: 15px;	
	}
	footer .register .input-register  input {
		color:#7F7F7F;
		background: transparent;
		border: none;
		border-bottom: #7F7F7F 2px solid;
		width: 100%;
		font-size: 1.9em;
		font-weight:50;
	}
	footer>* {
		margin: 0 auto;
		max-width: 1000px;
		width: 90%;
	}

	footer nav {
		font-weight: 700;
		margin-bottom: 1em;
	}

	footer p a {
		font-weight: 400;
	}

@media screen and (max-width:750px) {
    #stats li {
        display: block;
        margin: 0 0 25px;
    }

    #stats li:first-of-type {
        margin: 0 0 25px;
    }

    #stats li:before {
        display: none;
    }

    #stats dd {
        text-align: left;
    }
}

@media screen and (max-width:650px) {
    body {
        font-size: 20pt;
    }

    header h2 {
        font-size: 1.75em;
    }

    header h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width:385px) {
    header span {
        display: none;
    }

    header div {
        top: 75px;
    }

    header h2 {
        padding-top: 140px;
    }
}
